.container {
  width: 90%;
  margin: 1rem auto;
  padding: 1rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  text-align: center;
}

.content-left .home-texto .home-nome {
  color: #4863f7;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

.content-left .home-texto .home-cursor {
  width: 3px;
  height: 42px;
  background-color: white;
  display: inline-block;
  position: relative;
  top: 3px;
  animation: blink 0.6s infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.content-right {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.content-right img {
  margin: 0 auto;
  width: 75%;
}

.content-right img:hover {
  animation: swing 2s infinite alternate;
}

.scroll {
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll a:hover {
  color: #4863f7;
}

.scroll a img {
  animation: scroll 1.5s infinite forwards;
}

@keyframes scroll {
  0% {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }
  30% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 8px, 0);
  }
}

#sobre {
  background: #151515;
}

#sobre .container {
  align-items: start;
  padding-top: 2rem;
}

#sobre .content-left {
  flex: 1;
}

#sobre .container-foto img {
  width: 70%;
  border-left: 5px solid #00d2df;
  border-radius: 8px;
  filter: opacity(50%);
}

#sobre .container-foto img:hover {
  border-left: 5px solid #4863f7;
  border-radius: 8px;
  filter: opacity(80%);
}

#sobre .content-right {
  text-align: left;
  flex: 2;
}

#sobre .content-right h1 {
  text-align: left;
  margin-top: 0;
}

#experiencia .container {
  align-items: start;
  padding-top: 2rem;
}

#experiencia .content-left {
  flex: 1;
}

#experiencia .content-left h1 {
  margin-top: 0;
}

#experiencia .lugares {
  width: 60%;
}

#experiencia .lugares ul li {
  list-style: none;
  padding: 0.8rem;
  border-left: 3px solid #272727;
  cursor: pointer;
  transition: 400ms;
  transition: background-color 0.5s ease;
}

#experiencia .lugares ul li.active {
  background-color: #151515;
  border-left: 3px solid #4863f7;
  font-weight: 600;
}

#experiencia .lugares ul li:hover {
  background: #272727;
  border-left: 3px solid #4863f7;
}

#experiencia .content-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  flex: 2;
  margin-bottom: 1rem;
}

#experiencia .content-right .show-right {
  padding: 2rem;
  margin-bottom: 1rem;
}

#experiencia .content-right .show-right > .link {
  margin: 2rem 0;
  text-indent: 0;
}

#experiencia .content-right article {
  display: none;
}

#experiencia .content-right article.active {
  display: block;
  animation: 0.5s forwards show-right;
}

@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes show-down {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

#projetos {
  background: #151515;
  padding-top: 2rem;
}

#projetos .container {
  display: block;
  margin: 0 auto;
}

#projetos .flex-projetos {
  display: flex;
  align-items: top;
  column-gap: 3rem;
  justify-content: space-between;
}

#projetos .container .flex-projetos .content-card {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#projetos .container .flex-projetos .content-card .projeto-card {
  display: flex;
  flex-direction: column;

}

#projetos
  .container
  .flex-projetos
  .content-card
  .projeto-card
  .card-img
  a
  img {
  text-align: center;
  border-radius: 8px;
  width: 80%;
  margin-bottom: 1rem;
  border-left: 5px solid #00d2df;
  transition: 400ms;
  height: 200px;

}

#projetos
  .container
  .flex-projetos
  .content-card
  .projeto-card
  .card-img
  a
  img:hover {
  border-left: 5px solid #4863f7;
  transform: scale(110%);
}

#projetos .container .flex-projetos .content-card .card-texto {
  width: 100%;
  display: block;
  padding-right: 8rem;
  padding-bottom: 2rem;
  text-align: center;
}

#projetos .container .flex-projetos .content-card .card-footer span {
  display: block;
  color: #4863f7;
  padding-right: 8rem;
}

#projetos .container .flex-projetos .content-card .flex-button {
  justify-content: flex-start;
  column-gap: 4rem;
}
