@media (min-width: 600px){

.conteudo {
  
  width: 90%;
  max-width: 1200px;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home-esquerda {
  display: flex;
  flex-direction: column;
  align-items: center;

} 

#home-esquerda .home-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

#home-esquerda .home-texto .home-nome {
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--cor-nome-span);
  font-weight: 600;
  letter-spacing: 3px;
}

#home-esquerda .home-texto .home-cursor {
    width: 3px;
    height: 30px;
    background-color: white;
    display: inline-block;
    position: relative;
    top: 3px;
   
} 


.scroll a{
  display: flex;
  align-items: center;
  justify-content: center;
  
 
}


#home-direita {
  display: none;
}

#sobre {
  background-color:var(--fundo-header);
  padding-bottom: .5rem;

}


#sobre .conteudo .sobre-esquerda .sobre-foto {
  margin: 2rem auto;
  text-align: center;

}

#sobre .conteudo .sobre-esquerda .sobre-foto  img {
  border-left: 5px solid #4863F7;
  filter: opacity(55%);
  transition: 0.4s;
  width: 80%;
  border-radius: 8px;
  margin: auto;
 
}

#sobre .conteudo .sobre-esquerda .sobre-foto  img:hover {
  border-left: 5px solid rgba(101, 24, 180, 1);
  filter: opacity(80%);
} 

#sobre .conteudo .sobre-direita {
  width: 90%;
}

#sobre .conteudo .sobre-direita h1{
  font-size: 1.6rem;
}

#sobre .conteudo .sobre-direita p {
  margin-bottom: 0.8rem;
}

#sobre .conteudo .sobre-direita p + p {
  margin-bottom: 2rem;
}


#experiencia {
  padding: 1rem 0;
}

#experiencia h1 {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 2rem;
}

#experiencia .lugares ul {
  list-style: none outside none;
  font-weight: bold;
  line-height: 1.8rem;
  width: 250px;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin: 1em 0;
}

#experiencia .lugares ul li {
  padding:  10px 0;
  border-bottom:2px solid #272727;
  transition: 600ms;
  cursor: pointer;
}

#experiencia .lugares ul li:hover {
  background-color: #272727;
}

#experiencia .experiencia-direita {
  margin-top: 32px

}

#experiencia .experiencia-direita .descricao {
  text-align: center;
}

#experiencia .experiencia-direita .descricao h2 {
  font-size: 1.5rem;
  padding: 0 1rem;
}

#experiencia .experiencia-direita .descricao p {
  margin: 32px 0;
}

#projetos {
  background-color: #151515;
}


#projetos h1 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  padding-top: 2rem;
}

#projetos .projeto-card {
  text-align: center;

}

#projetos .card-img {
  margin: 0 auto;
  margin-bottom: 1rem;
}


#projetos .card-img a img {
  width: 80%;
  height: 200px;
  border-radius: 8px;
  transition: 400ms;
  border-left: 5px solid #4863F7;
  object-fit: cover;
}

#projetos .card-img a img:hover {
  transform: scale(110%);
  border-left: 5px solid rgba(101, 24, 180, 1);
}

#projetos .card-texto {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 2rem;

}

#projetos .card-footer {
  width: 90%;
  margin: 0 auto;
  padding: 0 2rem;

}

#projetos .card-footer span {
  color: #4863F7;
}


footer {
  color: white;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

footer a {
  color:  #00fffb;
}

footer a:hover {
  color: rgba(101, 24, 180, 1);
}

}
